Repository csngebnc/UnderSea, pull requests merged in 2021-07, with the labels that each got.

#58 Képeknek előkészítés, majd seed-del készül migráció
  backend/UnderSea.Bll/Dtos/Building/BuildingDetailsDto.cs
  backend/UnderSea.Bll/Dtos/Building/BuildingInfoDto.cs
  backend/UnderSea.Bll/Dtos/Unit/BattleUnitDto.cs
  backend/UnderSea.Bll/Dtos/Unit/UnitDto.cs
  backend/UnderSea.Bll/Dtos/Upgrade/UpgradeDto.cs
  backend/UnderSea.Bll/Mapper/AutoMapperProfiles.cs
  backend/UnderSea.Bll/Services/BattleService.cs
  backend/UnderSea.Bll/Services/BuildingService.cs
  backend/UnderSea.Bll/Services/CountryService.cs
  backend/UnderSea.Bll/Services/UpgradeService.cs
  backend/UnderSea.Model/Models/Building.cs
  backend/UnderSea.Model/Models/Unit.cs
  backend/UnderSea.Model/Models/Upgrade.cs
Labels: backend

#63 Támadás fix
  backend/UnderSea.Bll/Validation/Validators/Attack/SendAttackValidator.cs
Labels: backend

#68 State management az erőforrásoknak
  frontend/angular/under-sea/src/app/app-routing.module.ts
  frontend/angular/under-sea/src/app/app.module.ts
  frontend/angular/under-sea/src/app/components/attack/attack.component.html
  frontend/angular/under-sea/src/app/components/attack/attack.component.ts
  frontend/angular/under-sea/src/app/components/battle/battle.component.html
  frontend/angular/under-sea/src/app/components/buildings/buildings.component.ts
  frontend/angular/under-sea/src/app/components/item-img/item-img.component.html
  frontend/angular/under-sea/src/app/components/resource-info/resource-info.component.html
  frontend/angular/under-sea/src/app/components/unit-details/unit-details.component.ts
  frontend/angular/under-sea/src/app/components/units/units.component.html
  frontend/angular/under-sea/src/app/components/units/units.component.ts
  frontend/angular/under-sea/src/app/guards/auth/auth.guard.ts
  frontend/angular/under-sea/src/app/models/battle.model.ts
  frontend/angular/under-sea/src/app/models/resources.model.ts
  frontend/angular/under-sea/src/app/models/states/resources-state.model.ts
  frontend/angular/under-sea/src/app/pages/authentication/login/login.component.html
  frontend/angular/under-sea/src/app/pages/authentication/login/login.component.scss
  frontend/angular/under-sea/src/app/pages/authentication/login/login.component.ts
  frontend/angular/under-sea/src/app/pages/main/main.component.ts
  frontend/angular/under-sea/src/app/services/api/api.service.ts
  frontend/angular/under-sea/src/app/services/battle/battle.service.ts
  frontend/angular/under-sea/src/app/states/resources/resources.actions.ts
  frontend/angular/under-sea/src/app/states/resources/resources.state.ts
  frontend/angular/under-sea/src/app/states/user-data/user-data.actions.ts
  frontend/angular/under-sea/src/app/states/user-data/user-data.state.ts
  frontend/angular/under-sea/src/styles.scss
Labels: angular

#71 Felfedező javítás
  backend/UnderSea.Api/Controllers/BattleController.cs
  backend/UnderSea.Bll/Services/BattleService.cs
  backend/UnderSea.Bll/Services/CountryService.cs
  backend/UnderSea.Bll/Services/Interfaces/IBattleService.cs
  frontend/angular/under-sea/src/app/services/generated-code/generated-api-code.ts
Labels: backend

#72 AttackableUsers javítva
  backend/UnderSea.Bll/Services/BattleService.cs
Labels: backend

#74 Backend hibák javítása
  backend/UnderSea.Bll/Services/BuildingService.cs
  backend/UnderSea.Bll/Services/UserService.cs
Labels: backend

#73 Támadásra küldött egységek összevonása, ha ugyanolyan volt
  backend/UnderSea.Bll/Services/BattleService.cs
  backend/UnderSea.Bll/Validation/Validators/Attack/SendAttackValidator.cs
Labels: backend

#88 ProblemDetails próba javítás
  backend/UnderSea.Api/Startup.cs
Labels: backend

#82 Global loading megvalósítva, kő és hadvezér FR-ek
  frontend/angular/under-sea/src/app/app.component.html
  frontend/angular/under-sea/src/app/app.component.ts
  frontend/angular/under-sea/src/app/app.module.ts
  frontend/angular/under-sea/src/app/components/attack/attack.component.html
  frontend/angular/under-sea/src/app/components/attack/attack.component.ts
  frontend/angular/under-sea/src/app/components/battle/battle.component.html
  frontend/angular/under-sea/src/app/components/battle/battle.component.ts
  frontend/angular/under-sea/src/app/components/building-container/building-container.component.html
  frontend/angular/under-sea/src/app/components/building-container/building-container.component.scss
  frontend/angular/under-sea/src/app/components/building-container/building-container.component.ts
  frontend/angular/under-sea/src/app/components/building-details/building-details.component.html
  frontend/angular/under-sea/src/app/components/building-details/building-details.component.ts
  frontend/angular/under-sea/src/app/components/buildings/buildings.component.html
  frontend/angular/under-sea/src/app/components/buildings/buildings.component.ts
  frontend/angular/under-sea/src/app/components/explore-list/explore-list.component.html
  frontend/angular/under-sea/src/app/components/explore-list/explore-list.component.ts
  frontend/angular/under-sea/src/app/components/explore/explore.component.html
  frontend/angular/under-sea/src/app/components/explore/explore.component.ts
  frontend/angular/under-sea/src/app/components/infobar/infobar.component.html
  frontend/angular/under-sea/src/app/components/infobar/infobar.component.ts
  frontend/angular/under-sea/src/app/components/list/list.component.html
  frontend/angular/under-sea/src/app/components/list/list.component.ts
  frontend/angular/under-sea/src/app/components/loading/loading.component.html
  frontend/angular/under-sea/src/app/components/loading/loading.component.scss
  frontend/angular/under-sea/src/app/components/profile/profile.component.html
  frontend/angular/under-sea/src/app/components/profilecard/profilecard.component.html
  frontend/angular/under-sea/src/app/components/reports/reports.component.ts
  frontend/angular/under-sea/src/app/components/scoreboard/scoreboard.component.html
  frontend/angular/under-sea/src/app/components/scoreboard/scoreboard.component.ts
  frontend/angular/under-sea/src/app/components/unit-details/unit-details.component.html
  frontend/angular/under-sea/src/app/components/unit-details/unit-details.component.ts
  frontend/angular/under-sea/src/app/components/units/units.component.html
  frontend/angular/under-sea/src/app/components/units/units.component.ts
  frontend/angular/under-sea/src/app/components/upgrades/upgrades.component.html
  frontend/angular/under-sea/src/app/components/upgrades/upgrades.component.ts
  frontend/angular/under-sea/src/app/guards/auth/auth.guard.ts
  frontend/angular/under-sea/src/app/http-interceptors/loading/loading.interceptor.spec.ts
  frontend/angular/under-sea/src/app/http-interceptors/loading/loading.interceptor.ts
  frontend/angular/under-sea/src/app/http-interceptors/token/token.interceptor.ts
  frontend/angular/under-sea/src/app/models/building-details.model.ts
  frontend/angular/under-sea/src/app/models/material.model.ts
  frontend/angular/under-sea/src/app/models/resources.model.ts
  frontend/angular/under-sea/src/app/models/unit-details.model.ts
  frontend/angular/under-sea/src/app/pages/authentication/authentication.scss
  frontend/angular/under-sea/src/app/pages/authentication/login/login.component.html
  frontend/angular/under-sea/src/app/pages/authentication/register/register.component.html
  frontend/angular/under-sea/src/app/pages/authentication/register/register.component.ts
  frontend/angular/under-sea/src/app/pages/main/main.component.ts
  frontend/angular/under-sea/src/app/services/api/api.service.ts
  frontend/angular/under-sea/src/app/services/battle/battle.service.ts
  frontend/angular/under-sea/src/app/services/building/building.service.ts
  frontend/angular/under-sea/src/app/services/signalr/signalr.service.spec.ts
  frontend/angular/under-sea/src/app/services/user/user.service.ts
  frontend/angular/under-sea/src/app/states/loading/loading.actions.ts
  frontend/angular/under-sea/src/app/states/loading/loading.state.ts
  frontend/angular/under-sea/src/app/states/resources/resources.state.ts
  frontend/angular/under-sea/src/app/states/user-data/user-data.state.ts
  frontend/angular/under-sea/src/assets/config.json
  frontend/angular/under-sea/src/styles.scss
Labels: angular

#90 ProblemDetails javítás (2)
  backend/UnderSea.Api/Startup.cs
Labels: backend

#94 Available units-nál felfedező kiszedve
  backend/UnderSea.Bll/Services/BattleService.cs
Labels: backend

#95 Angular projekt final 1.0
  frontend/angular/under-sea/package-lock.json
  frontend/angular/under-sea/package.json
  frontend/angular/under-sea/src/app/app.module.ts
  frontend/angular/under-sea/src/app/components/attack/attack.component.html
  frontend/angular/under-sea/src/app/components/attack/attack.component.ts
  frontend/angular/under-sea/src/app/components/buildings/buildings.component.html
  frontend/angular/under-sea/src/app/components/buildings/buildings.component.ts
  frontend/angular/under-sea/src/app/components/explore/explore.component.html
  frontend/angular/under-sea/src/app/components/infobar/infobar.component.scss
  frontend/angular/under-sea/src/app/components/profile/profile.component.html
  frontend/angular/under-sea/src/app/components/profile/profile.component.ts
  frontend/angular/under-sea/src/app/components/resource-info/resource-info.component.html
  frontend/angular/under-sea/src/app/components/resource-info/resource-info.component.scss
  frontend/angular/under-sea/src/app/components/scoreboard/scoreboard.component.ts
  frontend/angular/under-sea/src/app/http-interceptors/loading/loading.interceptor.ts
  frontend/angular/under-sea/src/app/pages/authentication/register/register.component.html
  frontend/angular/under-sea/src/app/pages/authentication/register/register.component.ts
  frontend/angular/under-sea/src/app/pages/main/main.component.html
  frontend/angular/under-sea/src/styles.scss
Labels: angular

#98 Angular projekt final 1.1
  frontend/angular/under-sea/src/app/components/list/list.component.ts
  frontend/angular/under-sea/src/app/components/units/units.component.ts
  frontend/angular/under-sea/src/app/components/upgrades/upgrades.component.ts
  frontend/angular/under-sea/src/app/pages/authentication/register/register.component.html
  frontend/angular/under-sea/src/app/pages/authentication/register/register.component.ts
  frontend/angular/under-sea/src/app/services/signalr/signalr.service.ts
Labels: angular

#113 Fix
  backend/UnderSea.Bll/Services/RoundService.cs
Labels: backend

#114 Event fix
  backend/UnderSea.Bll/Services/EventService.cs
Labels: backend

#115 Event lista csökkenő sorrendben körök szerint
  backend/UnderSea.Bll/Services/EventService.cs
Labels: backend

#123 Netlify fix
  frontend/angular/under-sea/angular.json
  frontend/angular/under-sea/src/_redirects
  frontend/angular/under-sea/src/app/components/list/list.component.scss
  frontend/angular/under-sea/src/app/components/resource-info/resource-info.component.scss
  frontend/angular/under-sea/src/app/components/units/units.component.scss
  frontend/angular/under-sea/src/app/pages/authentication/authentication.scss
  frontend/angular/under-sea/src/app/pages/main/main.component.scss
  frontend/angular/under-sea/src/styles.scss
Labels: angular

#124 Netlify fix 1.x
  frontend/angular/under-sea/angular.json
  frontend/angular/under-sea/src/_redirects
  frontend/angular/under-sea/src/app/app.component.css
  frontend/angular/under-sea/src/app/app.component.css.map
  frontend/angular/under-sea/src/app/components/battle/battle.component.css
  frontend/angular/under-sea/src/app/components/battle/battle.component.css.map
  frontend/angular/under-sea/src/app/components/building-container/building-container.component.css
  frontend/angular/under-sea/src/app/components/building-container/building-container.component.css.map
  frontend/angular/under-sea/src/app/components/building-details/building-details.component.css
  frontend/angular/under-sea/src/app/components/building-details/building-details.component.css.map
  frontend/angular/under-sea/src/app/components/buildings/buildings.component.css
  frontend/angular/under-sea/src/app/components/buildings/buildings.component.css.map
  frontend/angular/under-sea/src/app/components/event-notification/event-notification.component.css
  frontend/angular/under-sea/src/app/components/event-notification/event-notification.component.css.map
  frontend/angular/under-sea/src/app/components/events/events.component.css
  frontend/angular/under-sea/src/app/components/events/events.component.css.map
  frontend/angular/under-sea/src/app/components/explore-list/explore-list.component.css
  frontend/angular/under-sea/src/app/components/explore-list/explore-list.component.css.map
  frontend/angular/under-sea/src/app/components/explore/explore.component.css
  frontend/angular/under-sea/src/app/components/explore/explore.component.css.map
  frontend/angular/under-sea/src/app/components/item-img/item-img.component.css
  frontend/angular/under-sea/src/app/components/item-img/item-img.component.css.map
  frontend/angular/under-sea/src/app/components/profile/profile.component.css
  frontend/angular/under-sea/src/app/components/profile/profile.component.css.map
  frontend/angular/under-sea/src/app/components/profilecard/profilecard.component.css
  frontend/angular/under-sea/src/app/components/profilecard/profilecard.component.css.map
  frontend/angular/under-sea/src/app/components/ranklist/ranklist.component.css
  frontend/angular/under-sea/src/app/components/ranklist/ranklist.component.css.map
  frontend/angular/under-sea/src/app/components/reports/reports.component.css
  frontend/angular/under-sea/src/app/components/reports/reports.component.css.map
  frontend/angular/under-sea/src/app/components/scoreboard/scoreboard.component.css
  frontend/angular/under-sea/src/app/components/scoreboard/scoreboard.component.css.map
  frontend/angular/under-sea/src/app/components/units/units.component.css
  frontend/angular/under-sea/src/app/components/units/units.component.css.map
  frontend/angular/under-sea/src/app/components/upgrade-details/upgrade-details.component.css
  frontend/angular/under-sea/src/app/components/upgrade-details/upgrade-details.component.css.map
  frontend/angular/under-sea/src/app/components/winners/winners.component.css
  frontend/angular/under-sea/src/app/components/winners/winners.component.css.map
  frontend/angular/under-sea/src/app/pages/authentication/authentication.css
  frontend/angular/under-sea/src/app/pages/authentication/authentication.css.map
  frontend/angular/under-sea/src/app/pages/authentication/authentication.scss
  frontend/angular/under-sea/src/app/pages/main/main.component.css
  frontend/angular/under-sea/src/app/pages/main/main.component.css.map
  frontend/angular/under-sea/src/styles.css
  frontend/angular/under-sea/src/styles.css.map
Labels: angular

#127 Kör gomb letiltva prodban
  frontend/angular/under-sea/src/app/components/building-container/building-container.component.html
  frontend/angular/under-sea/src/app/components/building-container/building-container.component.ts
  frontend/angular/under-sea/src/environments/environment.prod.ts
Labels: angular

#131 RoundService javítás
  backend/UnderSea.Bll/Services/RoundService.cs
  backend/UnderSea.Tests/UnitTests/UnitTest.cs
Labels: backend

#132 Revert "Unit tesztek fele kész + RoundService-ben egy include hiányzott"
  backend/UnderSea.Bll/Services/BattleService.cs
  backend/UnderSea.Bll/Services/BuildingService.cs
  backend/UnderSea.Bll/Services/RoundService.cs
  backend/UnderSea.Dal/Data/UnderSeaDbContext.cs
  backend/UnderSea.Dal/EntityConfigurations/CountryUnitEntityConfiguration.cs
  backend/UnderSea.Dal/Migrations/20210714102703_DemoSeed.Designer.cs
  backend/UnderSea.Dal/Migrations/20210714102703_DemoSeed.cs
  backend/UnderSea.Dal/Migrations/UnderSeaDbContextModelSnapshot.cs
  backend/UnderSea.Model/Constants/ExceptionMessageConstants.cs
  backend/UnderSea.Tests/UnitTests/BattleTests.cs
  backend/UnderSea.Tests/UnitTests/BuildingTest.cs
  backend/UnderSea.Tests/UnitTests/UnitTest.cs
Labels: backend

#130 OAuth
  backend/UnderSea.Api/Extensions/HttpContextAccessorExtension.cs
  backend/UnderSea.Api/Pages/Account/Login.cshtml
  backend/UnderSea.Api/Pages/Account/Login.cshtml.cs
  backend/UnderSea.Api/Pages/Account/Logout.cshtml
  backend/UnderSea.Api/Pages/Account/Logout.cshtml.cs
  backend/UnderSea.Api/Pages/Account/Register.cshtml
  backend/UnderSea.Api/Pages/Account/Register.cshtml.cs
  backend/UnderSea.Api/Pages/Index.cshtml
  backend/UnderSea.Api/Pages/Index.cshtml.cs
  backend/UnderSea.Api/Pages/Shared/_Layout.cshtml
  backend/UnderSea.Api/ProblemDetails/ErrorBodyProblemDetails.cs
  backend/UnderSea.Api/Startup.cs
  backend/UnderSea.Api/UnderSea.Api.csproj
  backend/UnderSea.Api/appsettings.json
  backend/UnderSea.Api/nswag.json
  backend/UnderSea.Api/wwwroot/css/fonts/Baloo-Regular.ttf
  backend/UnderSea.Api/wwwroot/css/fonts/OpenSans-Regular.ttf
  backend/UnderSea.Api/wwwroot/css/register.css
  backend/UnderSea.Bll/Services/CountryService.cs
  backend/UnderSea.Bll/Services/Interfaces/ICountryService.cs
  backend/UnderSea.Bll/Services/RoundService.cs
  backend/UnderSea.Bll/UnderSea.Bll.csproj
  backend/UnderSea.Dal/Data/UnderSeaDbContext.cs
  backend/UnderSea.Dal/UnderSea.Dal.csproj
  backend/UnderSea.Model/Models/FightPoint.cs
  backend/UnderSea.Model/UnderSea.Model.csproj
  frontend/angular/under-sea/src/app/services/generated-code/generated-api-code.ts
Labels: backend, enhancement

#140 Angular apróbb javítások
  frontend/angular/under-sea/src/app/app.component.ts
  frontend/angular/under-sea/src/app/components/list/list.component.html
  frontend/angular/under-sea/src/app/components/list/list.component.ts
  frontend/angular/under-sea/src/app/guards/auth/auth.guard.ts
Labels: angular

#143 0 db-os egységek nem látszanak attacknál
  frontend/angular/under-sea/src/app/components/attack/attack.component.html
Labels: angular
